<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
	layout:decorate="~{layout/layout1}">



<div th:fragment="adminContent">
	<div>
		<h1>theme aaaaaa</h1>
		<h3>테마</h3>
		
		<table>
			<tr>
				<td> 테마번호 </td> 
				<td>
					<select name="themeNo">
						<option value="">No</option>	
					</select> 
				</td>
			</tr>
			<tr>
				<td>테마이름</td>
				<td> <input type="text" name="themeName" class="themeName"> </td>
			</tr>
			<tr>
				<td>
					<button type="button" class="themeInsertBtn">추가</button> 
					<button type="button" class="themeUpdateBtn">수정</button>
					<button type="button" class="themedeleteBtn">삭제</button>
				</td>
						
			</tr>
		</table>
		
	</div>
<!-- 
		<div>
		<h1>theme Plague Doctor</h1>
		<h3>테마</h3>
		
		<table>
			<tr>
				<td> 테마번호 </td> 
				<td>
					<select name="themeNo">
						<option value="">No</option>	
					</select> 
				</td>
			</tr>
			<tr>
				<td>테마이름</td>
				<td> <input type="text" name="themeName"> </td>
			</tr>
			<tr>
				<td>
					<button type="button" class="themeInsertBtn">추가</button> 
					<button type="button" class="themeUpdateBtn">수정</button>
					<button type="button" class="themedeleteBtn">삭제</button>
				</td>
						
			</tr>
		</table>
		
	</div>
	
		<div>
		<h1>theme Plague Doctor</h1>
		<h3>테마</h3>
		
		<table>
			<tr>
				<td> 테마번호 </td> 
				<td>
					<select name="themeNo">
						<option value="">No</option>	
					</select> 
				</td>
			</tr>
			<tr>
				<td>테마이름</td>
				<td> <input type="text" name="themeName"> </td>
			</tr>
			<tr>
				<td>
					<button type="button" class="themeInsertBtn">추가</button> 
					<button type="button" class="themeUpdateBtn">수정</button>
					<button type="button" class="themedeleteBtn">삭제</button>
				</td>
						
			</tr>
		</table>
		
	</div>
	
		<div>
		<h1>theme Plague Doctor</h1>
		<h3>테마</h3>
		
		<table>
			<tr>
				<td> 테마번호 </td> 
				<td>
					<select name="themeNo">
						<option value="">No</option>	
					</select> 
				</td>
			</tr>
			<tr>
				<td>테마이름</td>
				<td> <input type="text" name="themeName"> </td>
			</tr>
			<tr>
				<td>
					<button type="button" class="themeInsertBtn">추가</button> 
					<button type="button" class="themeUpdateBtn">수정</button>
					<button type="button" class="themedeleteBtn">삭제</button>
				</td>
						
			</tr>
		</table>
		
	</div> -->
	
	
</div>



</html>