<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
	layout:decorate="~{layout/layout1}">



<div th:fragment="adminContent">
<!-- =====================테마라인================== -->
	<div style="float: left; margin: 10px;">
		<h1>theme</h1>
		<h3>테마</h3>

		<table>
			<tr>
				<td>테마번호</td>
				<td>
					<select name="themeNo" class="themeNo">
						<option th:each="themeListAll : ${themeListAll}" th:text="${themeListAll.themeNo}" th:value="${themeListAll.themeNo}" class="themeOptionChk"></option>
					</select>
				</td>
			</tr>
			<tr>
				<td>테마이름</td>
				<td><input type="text" name="themeName" class="themeName"> <input type="hidden" name="themeNo" class="hiddenNo">
				</td>
			</tr>

			<tr>
				<td>
					<button type="button" class="themeInsertBtn">추가</button>
					<button type="button" class="themeUpdateBtn">수정</button>
							
							
							

				</td>

			</tr>
		</table>

		<form action="#" class="themeSection">
			<table border="1">
				<tr>
					<th>테마 번호</th>
					<th>테마 이름</th>
					<th>삭제</th>
					

				</tr>
				<tr th:each="themeListAll : ${themeListAll}">
					<td th:text="${themeListAll.themeNo}"></td>
					<td th:text="${themeListAll.themeName}"></td>
					
					<td><button type="button" class="themedeleteBtn"
							th:value="${themeListAll.themeNo}">삭제</button></td>
				</tr>

			</table>
		</form>
	</div>
	
<!-- =====================테마라인================== -->	

<!-- =====================이용시간라인================== -->
	 
		<div >
		<h1>playTime</h1>
		<h3>진행시간</h3>
		
		<table>
			<tr>
				<td>진행시간번호</td>
				<td>
					<select name="themeNo" class="themeNo">
						<option th:each="themeListAll : ${themeListAll}" th:text="${themeListAll.themeNo}" th:value="${themeListAll.themeNo}" class="themeOptionChk"></option>
					</select>
				</td>
			</tr>
			<tr>
				<td>진행시간이름</td>
				<td><input type="text" name="themeName" class="themeName"> <input type="hidden" name="themeNo" class="hiddenNo">
				</td>
			</tr>

			<tr>
				<td>
					<button type="button" class="themeInsertBtn">추가</button>
					<button type="button" class="themeUpdateBtn">수정</button>
							
							
							

				</td>

			</tr>
		</table>

		<form action="#" class="themeSection">
			<table border="1">
				<tr>
					<th>진행시간 번호</th>
					<th>진행시간 이름</th>
					<th>삭제</th>
					

				</tr>
				<tr th:each="themeListAll : ${themeListAll}">
					<td th:text="${themeListAll.themeNo}"></td>
					<td th:text="${themeListAll.themeName}"></td>
					
					<td><button type="button" class="themedeleteBtn"
							th:value="${themeListAll.themeNo}">삭제</button></td>
				</tr>

			</table>
		</form>
	</div>
	
		<!-- <div>
		<h1>theme Plague Doctor</h1>
		<h3>테마</h3>
		
		<table>
			<tr>
				<td> 테마번호 </td> 
				<td>
					<select name="themeNo">
						<option value="">No</option>	
					</select> 
				</td>
			</tr>
			<tr>
				<td>테마이름</td>
				<td> <input type="text" name="themeName"> </td>
			</tr>
			<tr>
				<td>
					<button type="button" class="themeInsertBtn">추가</button> 
					<button type="button" class="themeUpdateBtn">수정</button>
					<button type="button" class="themedeleteBtn">삭제</button>
				</td>
						
			</tr>
		</table>
		
	</div>
	
		<div>
		<h1>theme Plague Doctor</h1>
		<h3>테마</h3>
		
		<table>
			<tr>
				<td> 테마번호 </td> 
				<td>
					<select name="themeNo">
						<option value="">No</option>	
					</select> 
				</td>
			</tr>
			<tr>
				<td>테마이름</td>
				<td> <input type="text" name="themeName"> </td>
			</tr>
			<tr>
				<td>
					<button type="button" class="themeInsertBtn">추가</button> 
					<button type="button" class="themeUpdateBtn">수정</button>
					<button type="button" class="themedeleteBtn">삭제</button>
				</td>
						
			</tr>
		</table>
		
	</div>  -->


</div>



</html>