<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="UTF-8">
<title>Plague Doctor</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/admin/createRoomPage.js"></script>
</head>
<body>

<div >
	<!-- 헤더 -->
	<div th:replace="fragments/header::header"></div>
		
	<!-- 본문 -->	
	<div th:replace="admin/createRoom/createRoomContent::createRoomContent"></div>
	
	<!-- 푸터 -->
	<div th:replace="fragments/footer::footer"></div>
</div>
</body>
</html>