<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
	layout:decorate="~{layout/layout1}">



<div th:fragment="createRoomContent">

					<select name="themeNo" class="themeNo">
						<option th:text="테마이름" >
						<option th:each="themeListAll : ${themeListAll}" th:text="${themeListAll.themeName}" th:value="${themeListAll.themeName}" class="themeOptionChk"></option>
					</select>
					<br>
					<select name="playTimeNo" class="playTimeNo">
						<option th:text="진행시간" >
						<option th:each="playTimeListAll : ${playTimeListAll}" th:text="${playTimeListAll.playTime}" th:value="${playTimeListAll.playTime}" class="playTimeOptionChk"></option>
					</select>
					<br>
			
					<select name="difficultyNo" class="difficultyNo">
						<option th:text="어려움정도" >
						<option th:each="difficultyListAll : ${difficultyListAll}" th:text="${difficultyListAll.difficulty}+점" th:value="${difficultyListAll.difficulty}" class="difficultyOptionChk"></option>
					</select>
					<br>
			
					<select name="playTimeNo" class="playTimeNo">
						<option th:text="운영시간" >
						<option th:each="playTimeListAll : ${playTimeListAll}" th:text="${playTimeListAll.playTimeNo}" th:value="${playTimeListAll.playTimeNo}" class="playTimeOptionChk"></option>
					</select>
</div>



</html>